<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinQ</title>
</head>
<body>
<h1>Prueba practica LinQ</h1>

        <form id="sku_form" method="post" action="/agregar_registro/">

            {% csrf_token %}
           <p> Codigo: {{ sku_form.codigo }}</p><br>
            <p>Nombre producto: {{ sku_form.nombre_producto }}</p><br>
            <p>Fabricante: {{ sku_form.fabricante }}</p>
            <p>Color: {{ sku_form.color }}</p>
            <input type="submit" name="submit" value="Agregar" />
        </form>

<a href="/">Volver</a>
</body>
</html>